6562_CompletedDotNet/6562_CompletedDotNet/AITLibrary/AITLibrary/Web References/BorrowWebServices/BorrowWebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="showAllBorrow">
        <s:complexType />
      </s:element>
      <s:element name="showAllBorrowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="showAllBorrowResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewToBorrow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mediaID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="borrowDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="returnDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewToBorrowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addNewToBorrowResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBorrow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualReturn" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fee" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BorrowID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBorrowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateBorrowResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="showAllBorrowSoapIn">
    <wsdl:part name="parameters" element="tns:showAllBorrow" />
  </wsdl:message>
  <wsdl:message name="showAllBorrowSoapOut">
    <wsdl:part name="parameters" element="tns:showAllBorrowResponse" />
  </wsdl:message>
  <wsdl:message name="addNewToBorrowSoapIn">
    <wsdl:part name="parameters" element="tns:addNewToBorrow" />
  </wsdl:message>
  <wsdl:message name="addNewToBorrowSoapOut">
    <wsdl:part name="parameters" element="tns:addNewToBorrowResponse" />
  </wsdl:message>
  <wsdl:message name="updateBorrowSoapIn">
    <wsdl:part name="parameters" element="tns:updateBorrow" />
  </wsdl:message>
  <wsdl:message name="updateBorrowSoapOut">
    <wsdl:part name="parameters" element="tns:updateBorrowResponse" />
  </wsdl:message>
  <wsdl:portType name="BorrowWebServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="showAllBorrow">
      <wsdl:input message="tns:showAllBorrowSoapIn" />
      <wsdl:output message="tns:showAllBorrowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNewToBorrow">
      <wsdl:input message="tns:addNewToBorrowSoapIn" />
      <wsdl:output message="tns:addNewToBorrowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateBorrow">
      <wsdl:input message="tns:updateBorrowSoapIn" />
      <wsdl:output message="tns:updateBorrowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BorrowWebServicesSoap" type="tns:BorrowWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAllBorrow">
      <soap:operation soapAction="http://tempuri.org/showAllBorrow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewToBorrow">
      <soap:operation soapAction="http://tempuri.org/addNewToBorrow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBorrow">
      <soap:operation soapAction="http://tempuri.org/updateBorrow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BorrowWebServicesSoap12" type="tns:BorrowWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showAllBorrow">
      <soap12:operation soapAction="http://tempuri.org/showAllBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewToBorrow">
      <soap12:operation soapAction="http://tempuri.org/addNewToBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBorrow">
      <soap12:operation soapAction="http://tempuri.org/updateBorrow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BorrowWebServices">
    <wsdl:port name="BorrowWebServicesSoap" binding="tns:BorrowWebServicesSoap">
      <soap:address location="http://localhost:51234/BorrowWebServices.asmx" />
    </wsdl:port>
    <wsdl:port name="BorrowWebServicesSoap12" binding="tns:BorrowWebServicesSoap12">
      <soap12:address location="http://localhost:51234/BorrowWebServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>